
/*PORTFOLIO STYLING*/
.app-intro {
  font-size: 1.5em;
  text-align: center;
}

.app-codeblock {
  margin: 3em;
}

/*APP STYLING*/
a {
  text-decoration: none;
}

body {
  padding: 40px;
}

h1 {
  text-align: left;
}

div {
  display: flex;
  flex-direction: column-reverse;
  margin: 25px 25%;
  padding: 5px;
  border: 3.5px rgba(150, 30, 5, 0.3);
  border-style: solid none;
  border-radius: 30px;
}

section {
  margin: 10px 75px;
  padding: 5px 30px;
  background-color: rgba(30, 30, 30, 0.09);
  border: 2px rgba(20, 20, 1300, 0.2);
  border-radius: 14px;
}

h3 {
  margin: 2px;
  padding: 2px;
  width: 195px;
  border: 1px rgba(30, 30, 30, 0.3);
  border-style: none none solid none;
  border-radius: 3px;
  font-family: monospace;
  font-weight: bold;
  color: rgba(60, 60, 60, 0.8);
}

h5 {
  margin: 3px;
  padding: 6px 3px 3px 3px;
  font-family: serif;
  color: rgba(30, 30, 30, 0.9);
}

textarea {
  margin: 4px 0px;
}

textarea, .input-username {
  /*margin-top: 10px;
  margin-left: 50px;
  width: 500px;
  height: 100px;*/
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: none repeat scroll 0 0 rgba(30, 30, 30, 0.03);
  border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
  border-image: none;
  border-radius: 6px 6px 6px 6px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 5px 8px;
  transition: background-color 0.2s ease 0s;
}


textarea:focus, .input-username:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}

.input-username {
  width: 45%;
  height: 20%;
}

.input-text {
  width: 91%;
  height: 50%;
}

.footer-div {
  border: none;
  flex-direction: row;
  justify-content: center;
}

.footer-section {
  padding: 5px 10px;
  margin-right: 10px;
  margin-left: 10px;
  width: 40%;
}

#welcome {
  margin: 25px 25%;
  padding: 5px;
  font-size: 4em;
  text-align: left;
}

#find-flut {
  width: 91%;
  height: 70%;
}
